body{
	padding: 20px;
}

p.test{
	border: 1px solid #f53;

} 

p.test2{
	border: 1px solid #f93;
} 

p.test2 strong{
	border: 2px solid #693;
	margin: 20px;
	margin-top: 50px;
	display: inline-block;
}

li{
	display: inline;
} 

p.test3{
	border: 1px solid #f93;
	background: red;
	border-radius: 0px 20px 10px 40px;
	padding: 5px;
	width:20em;
	height: 100px;
	overflow: hidden;
}

p{
	box-shadow:  4px 4px 8px #000;
}

h2{
	width: 300px;
	padding: 15px;
	border-width: 5	px;
	margin: 10px;
	border: 1px solid #888;
	box-sizing: border-box;
}